spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/
      database: test
      repositories:
        type: auto
  mail:
    host: smtp.gmail.com
    port: 587
    username: lutesBlah@gmail.com
    password: hfsozdqywwvpudgq
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8090
file:
  dir: "D:/test/"
